<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<div id="vue"></div>
</body>

{{ encore_entry_link_tags('app') }}
{{ encore_entry_script_tags('app') }}

</html>
